/* == Small devices (landscape phones, 576px and up) == */
@media (min-width: 320px) {
    /* -- Global CSS -- */
    .custom-container {
        padding: 0 5px;
    }

    /* -- End Of Global CSS -- */

    /* == Navigation Bar == */
    #navigation-bar .nav-item-right {
        margin-left: 75px;
    }

    /* ==End Of Navigation Bar == */

    /* == Bottom Navigation == */
    #bottom-navigation .nav-item {
        margin: 0 10px;
    }

    /* == End Of Bottom Navigation == */

    /* == Partner Banner == */
    #partner-banner p {
        font-size: 12px;
    }

    /* == End Of Partner Banner == */
}

@media (min-width: 375px) {
    /* == Navigation Bar == */
    #navigation-bar .nav-item-right {
        margin-left: 120px;
    }

    /* ==End Of Navigation Bar == */
}

@media (min-width: 340px) {
    #navigation-bar .nav-item-right {
        margin-left: 88px !important;
    }
} 

@media (min-width: 425px) {
    /* == Navigation Bar == */
    #navigation-bar .nav-item-right {
        margin-left: 170px !important;
    }

    /* ==End Of Navigation Bar == */
}

/* == Medium devices (tablets, 768px and up) == */
@media (min-width: 768px) {
     /* -- Global CSS -- */
     .custom-container {
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0 auto;
        max-width: 480px;
        height: 100%;
    }

    /* -- End Of Global CSS -- */

    /* == Navigation Bar == */
    #navigation-bar .nav-item-right {
        margin-left: 230px !important;
    }

    /* ==End Of Navigation Bar == */

    /* == Bottom Navigation == */
    #bottom-navigation .nav-item {
        margin: 0 27px;
    }

    /* == End Of Bottom Navigation == */

    /* == Partner Banner == */
    #partner-banner .partner-banner-bg-img {
        height: 135px;
    }

    #partner-banner p {
        font-size: 16px;
    }

    /* == End Of Partner Banner == */
}

/* == Large devices (desktops, 992px and up) == */
@media (min-width: 992px) {
     /* -- Global CSS -- */
     .custom-container {
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0 auto;
        max-width: 480px;
        height: 100%;
    }

    /* -- End Of Global CSS -- */

    /* == Navigation Bar == */
    #navigation-bar .nav-item-right {
        margin-left: 260px;
    }

    /* ==End Of Navigation Bar == */

    /* == Bottom Navigation == */
    #bottom-navigation .nav-item {
        margin: 0 27px;
    }

    /* == End Of Bottom Navigation == */

    /* == Partner Banner == */
    #partner-banner .partner-banner-bg-img {
        height: 135px;
    }

    #partner-banner p {
        font-size: 16px;
    }

    /* == End Of Partner Banner == */
}

/* == X-Large devices (large desktops, 1200px and up) == */
@media (min-width: 1200px) {

    /* -- Global CSS -- */
    .custom-container {
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0 auto;
        max-width: 480px;
        height: 100%;
    }

    /* -- End Of Global CSS -- */

    /* == Navigation Bar == */
    #navigation-bar .nav-item-right {
        margin-left: 240px;
    }

    /* ==End Of Navigation Bar == */

    /* == Bottom Navigation == */
    #bottom-navigation .nav-item {
        margin: 0 27px;
    }

    /* == End Of Bottom Navigation == */

    /* == Partner Banner == */
    #partner-banner .partner-banner-bg-img {
        height: 135px;
    }

    #partner-banner p {
        font-size: 16px;
    }

    /* == End Of Partner Banner == */
}

/* == XX-Large devices (larger desktops, 1400px and up) == */
@media (min-width: 1400px) {

    /* -- Global CSS -- */
    .custom-container {
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0 auto;
        max-width: 480px;
        height: 100%;
    }

    /* -- End Of Global CSS -- */

    /* == Navigation Bar == */
    #navigation-bar .nav-item-right {
        margin-left: 260px;
    }

    /* ==End Of Navigation Bar == */

    /* == Bottom Navigation == */
    #bottom-navigation .nav-item {
        margin: 0 27px;
    }

    /* == End Of Bottom Navigation == */

    /* == Partner Banner == */
    #partner-banner .partner-banner-bg-img {
        height: 135px;
    }

    #partner-banner p {
        font-size: 16px;
    }

    /* == End Of Partner Banner == */
}