/* == Global CSS == */
html,
body {
    overflow-x: hidden;
}

body {
    background-color: #f6f9ff;
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fw-bold {
    font-weight: 700;
}

/* == End Of Global CSS == */

/* == Color and Bg Color == */
.color-1 {
    color: #00CED1;
}

.color-2 {
    color: #45bab0;
}

.color-3 {
    color: #001515;
}

/* == End Of Color and Bg Color */

/* == Navigation Bar == */
#navigation-bar {
    background-color: #ffffff;
}

#navigation-bar .nav-link.language {
    border: 1px solid #91c2ff33;
    border-radius: 6px;
    padding: 0px 7px 2px 7px;
    margin-top: 6px;
    margin-right: 10px;
}

#navigation-bar .nav-link.language img {
    max-width: 15px;
    max-height: 15px;
}

#navigation-bar .login-or-register {
    background-color: #00CED1;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px 7px 5px 7px;
    margin-top: 6px;
}

/* ==End Of Navigation Bar == */

/* == Bottom Navigation == */
#bottom-navigation {
    background-color: #ffffff !important;
    height: 56px;
    box-shadow: 0 -3px 10px 0 rgb(181 195 224 / 55%);
}

#bottom-navigation .nav-link svg {
    fill: #9ee3db;
}

#bottom-navigation .nav-link {
    color: #9ee3db;
}

#bottom-navigation .nav-link.active svg {
    fill: #00CED1;
}

#bottom-navigation .nav-link.active {
    color: #00CED1;
}

/* == End Of Bottom Navigation == */

/* == Header == */
.header-card {
    margin-top: 50px !important;
}

/* Custom Slider */
#splide-promo-banners {
    pointer-events: none;
}

#splide-promo-banners .splide__arrows {
    display: none;
}

#splide-promo-banners img {
    width: 464px;
    border-radius: 10px;
}

#splide-promo-banners .splide__pagination {
    display: inline-block;
    justify-content: start;
    position: relative;
    margin-top: 7px;
    margin-left: -10px;
}

#splide-promo-banners .splide__pagination__page {
    height: 6px;
    width: 6px;
    border-radius: 50%;
}

#splide-promo-banners .splide__pagination__page.is-active {
    background-color: #00CED1;
    opacity: 100;
    width: 20px;
    height: 6px;
    border-radius: 7px;
}

.btn-see-all-promos {
    margin-top: -25px;
    font-size: 12px;
    font-weight: 700;
    color: #45bab0 !important;
}

/* == End Of Header == */

/* == List Menu == */
#list-menu p {
    padding-top: 10px;
    font-weight: 700;
    color: #45bab0;
    margin-bottom: 0px;
}

#list-menu .menu-car {
    padding-top: 11px;
}

#list-menu .menu-motorcycle {
    padding-top: 15px;
}

#list-menu .menu-health {
    padding-top: 15px;
}

#list-menu .menu-life-insurance {
    padding-top: 15px;
}

#list-menu .menu-tropical-disease {
    padding-top: 15px;
}

/* == End Of List Menu == */

/* == Why Us == */
#why-us .card-product {
    height: 55px;
    border-radius: 8px;
    background-color: #62d4c921;
}

#why-us .card-product img {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 2px;
}

#why-us .btn-set-schedule {
    background-color: #00CED1;
    color: #ffffff;
    border-radius: 8px;
}
/* == End Of Why Us == */

/* == Product == */
#product .card {
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 1.5px 3px 0 #d8e7fd;
}

#product .card img {
    height: 100px;
    object-fit: cover;
}

/* == End Of Product == */

/* == Partner Banner == */

#partner-banner .partner-banner-bg-img {
    background-image: url('../images/banner/partner-banner.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

#partner-banner .btn-click-here {
    background-color: #00CED1;
    color: #ffffff;
    font-size: 12px;
    border-radius: 8px;
}

/* == End Of Partner Banner == */

/* == Information == */
#information .btn {
    color: #00CED1 !important;
}
/* == End Of Information == */

/* == Insurance Partner */
#insurance-partner .insurance-partner-img {
    width: 75.6px;
    height: 100%;
    object-fit: contain;
    vertical-align: middle !important;
}

#splide-insurance-partner {
    margin-top: -10px;
}

#splide-insurance-partner .splide__arrow--prev,
.splide__arrow--next {
    background-color: transparent;
    opacity: 100;
}

#splide-insurance-partner .splide__arrow--prev {
    display: block;
    margin-left: -20px;
}

#splide-insurance-partner .splide__arrow--next {
    display: block;
    margin-right: -20px;
}

#splide-insurance-partner .splide-insurance-partner-container {
    padding-left: 30px;
    padding-right: 30px;
}

/* == End Of Insurance Partner == */

/* == Media Partner == */
#media-partner .media-partner-img {
    width: 100%;
    height: 45px;
    object-fit: contain;
}

/* == End Of Media Partner == */

/* == Help == */
#help .card {
    box-shadow: rgb(216 231 253) 0px 3px 6px 0px;
    border-radius: 4px;
}

#help .card .separator {
    border-right: 0.5px solid rgb(202, 228, 238);
    height: 60px;
}

#help .socmed-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

/* == End Of Help == */

/* == Follow Us == */
#follow-us img {
    width: 20px;
    display: block;
    margin: 0 8px;
}

/* == End Of Follow Us == */

#footer-section {
    padding-bottom: 40px;
}

#footer-section a {
    color: #001515;
}

#footer-section .separator {
    padding: 0px 5px;
}

#footer-section .separator::after {
    content: '';
    display: block;
    border-right: 1px solid #707070;
    height: 100%;
}

#footer-section .cooperation img {
    width: 30px;
}

#footer-section .cooperation .mjp {
    padding-top: 6px;
    padding-left: 40px;
}

#footer-section .registered-and-supervised img {
    width: 65px;
}